/*File where I created everything related to the 3 cards where there are images to
overlap, and when there was an issue (quite often because) I used ids*/;

.card-onScreen{
  height: 100%;
  display: flex;
  flex: 0 1 auto;
  padding: 70px 45px;
  margin: 0 auto;}

.animation-onScreen{
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-onScreen h1{
  font-size: 3.125rem;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.card-onScreen h2{
  font-size: 1.625rem;
  font-weight: normal;
}

.card-onScreen .video-onScreen{
  position: relative;
  overflow: hidden
  margin: -10% -5% -5% 0;
  height: 100%;
  display: flex;
  flex: 0 1 auto;
}

#NavigationNetflix{
  width:62%;
}

#LoadingStrangerThings{
  min-height: 100px;
  width: 100%;
}

#StrangerThingsText{
  padding: 0 0 0 3rem;
  width: 125%;
  height: 100%;
  flex: 0 1 auto;
  z-index: 3;
  font-size: 1.625rem;
  font-weight: normal;
  margin:0px;
}

#StrangerThingsContainer{
  padding-top: 70px;
  padding-bottom: 70px;
  padding-right: 149px;
  padding-left: 0px;
}

.ShowName{
  font-size: 1em;
  color: white;
  font-weight: 600;
}

.DownloadSentence{
  font-size: 0.9em;
  color: #0071eb;
  font-weight: normal;
}

#DownloadGIF{
  height: 3.75em;
  margin: 0;

}

#InPhonePicture{
  max-width: 90%;
  height: auto;
  border: 0;
  background: transparent;
  z-index: none;
}

.card-onScreen img{
  max-width: 100%;
  height: auto;
  border: 0;
}

#Mac{
  position: relative;
  z-index:2;
}

.card-onScreen video{
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: baseline;
  object-fit: contain;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

#VideoNavigation{
  max-width: 73%;
  max-height: 54%;
  top:48%;
}

#VideoStrangerThings{
  max-width: 63%;
  max-height: 47%;
  top: 34%;
}

.animation-underScreen{
  padding: 0.5em 0.75em;
  position: absolute;
  left: 47%;
  bottom: 8%;
  transform: translateX(-50%);
  margin: 0 auto;
  background: black;
  display: flex;
  align-items: center;
  width: 57%;
  min-width: 15em;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 0.75em;
  box-shadow: 0em 0em 2em 0em #000000;
}

.animation-underScreen img{
  margin: 0 1em 0 0;
  flex-grow: 0;
  flex-shrink: 0;
  height: 5em;
  max-width: 100%;
  border: 0;
  z-index: 3;
}
