#e-mail-Customize{
  min-width:500px;
  height: 70px !important;
  font-size:16px;
  padding-left: 10px;
}

#Form-submit-Customize{
  padding-right: 3.25rem;
  padding-left: 1.6125rem;
  font-weight: normal;
  font-size: 1.875rem;
  min-height: 70px;
  border: 1px solid #e50914;
  margin: 0 !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: .5rem 1em;
  line-height: initial;
  color: #fff;
  float: none;
}

.input-group{/* I did not change this name because it's a bootstrap class*/
  justify-content: center;
}

#emailForm{
  padding-top:0.85rem;
}
