/* Specific category, only used once, and many things to customize, so I chose this way of defining
my class - Here the logo was particularly hard for me to implement, and I could not
put the layer of red over it to make it flashier*/

.header-banner {
  background-color: transparent;
  position: relative;
  max-width: 1920px;
  margin: 0 36px;
  padding-top: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5rem;
  z-index: 10;
}
.header-banner img {
  height: 45px;
  width: 167px;
  fill: #e50914;
  line-height: normal;
  overflow: hidden;
  margin-top: 0.5rem;
  fill: #e50914;
}

